<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.ClassInfo">
    <!-- 定义结果集 -->
    <resultMap id="classInfoMap" type="com.domain.ClassInfo">
        <id property="id" column="ID"/>
        <result property="number" column="NUMBER"/>
        <result property="name" column="NAME"/>
        <result property="major" column="MAJOR"/>
        <result property="studentsNumber" column="STUDENTS_NUMBER"/>
        <result property="saveTime" column="SAVE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <association property="teachersId" column="TEACHERS_ID" javaType="com.domain.Teachers">
            <id property="id" column="T_ID"/>
            <result property="name" column="T_NAME"/>
            <result property="sex" column="T_SEX"/>
            <result property="age" column="T_AGE"/>
            <result property="origin" column="T_ORIFIN"/>
            <result property="nation" column="T_NATION"/>
            <result property="idNumber" column="T_ID_NUMBER"/>
            <result property="phone" column="T_PHONE"/>
            <result property="salary" column="T_SALARY"/>
            <result property="saveTime" column="T_SAVE_TIME"/>
            <result property="updateTime" column="T_UPDATE_TIME"/>
            <association property="collegeId" column="T_COLLEGE_ID" javaType="com.domain.College">
                <id property="id" column="CO_ID"/>
                <result property="name" column="CO_NAME"/>
                <result property="studentsNumber" column="CO_STUDENTS_NUMBER"/>
                <result property="teachersNumber" column="CO_TEACHERS_NUMBER"/>
                <result property="saveTime" column="CO_SAVE_TIME"/>
                <result property="updateTime" column="CO_UPDATE_TIME"/>
            </association>
            <association property="jobTitleId" column="T_JOB_TITLE_ID" javaType="com.domain.JobTitle">
                <id property="id" column="J_ID"/>
                <result property="jobName" column="J_JOB_NAME"/>
            </association>
        </association>
    </resultMap>
    <!-- 定义sql查询列-->
    <sql id="columns">
        ID,`NUMBER`,`NAME`,MAJOR,STUDENTS_NUMBER,TEACHERS_ID,SAVE_TIME,UPDATE_TIME
    </sql>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM class_info WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM class_info WHERE ID IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="com.domain.ClassInfo">
        INSERT INTO class_info(<include refid="columns"/> )
        VALUES (DEFAULT ,#{number},#{name},#{major},#{studentsNumber},#{teachersId.id},#{saveTime},#{updateTime})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.domain.ClassInfo">
        UPDATE class_info
        SET `NUMBER`=#{number},`NAME`=#{name},MAJOR=#{major},STUDENTS_NUMBER=#{studentsNumber},TEACHERS_ID=#{teachersId.id},SAVE_TIME=#{saveTime},UPDATE_TIME=#{updateTime}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultType="com.domain.ClassInfo">
        SELECT <include refid="columns"/>
        FROM class_info
        WHERE ID=#{id}
    </select>
    <!-- 根据条件（班级编号，班级名称，班级专业，辅导员）查询 -->
    <select id="findByCondition" parameterType="java.util.Map" resultMap="classInfoMap">
        SELECT CI.ID,CI.NUMBER,CI.NAME,CI.MAJOR,CI.STUDENTS_NUMBER,CI.SAVE_TIME,CI.UPDATE_TIME,CI.TEACHERS_ID,
        T.ID T_ID,T.NAME T_NAME,T.SEX T_SEX,T.AGE T_AGE,T.ORIGIN T_ORIGIN,T.NATION T_NATION,T.ID_NUMBER T_ID_NUMBER,T.PHONE T_PHONE,T.SALARY T_SALARY,T.SAVE_TIME T_SAVE_TIME,T.UPDATE_TIME T_UPDATE_TIME,
        CO.ID CO_ID,CO.NAME CO_NAME,CO.STUDENTS_NUMBER CO_STUDENTS_NUMBER,CO.TEACHERS_NUMBER CO_TEACHERS_NUMBER,CO.SAVE_TIME CO_SAVE_TIME,CO.UPDATE_TIME CO_UPDATE_TIME,
        J.ID J_ID,J.JOB_NAME J_JOB_NAME
        FROM CLASS_INFO CI
        LEFT JOIN TEACHERS T ON T.ID=CI.TEACHERS_ID
        LEFT JOIN COLLEGE CO ON CO.ID=T.COLLEGE_ID
        LEFT JOIN JOB_TITLE J ON J.ID=T.JOB_TITLE_ID
        <where>
            <if test="NUMBER != null">
                CI.`NUMBER`=#{NUMBER}
            </if>
            <if test="CLASS_NAME != null">
                AND CI.`NAME`=#{CLASS_NAME}
            </if>
            <if test="MAJOR != null">
                AND CI.MAJOR=#{MAJOR}
            </if>
            <if test="TEACHERS_ID != null">
                AND CI.TEACHERS_ID=#{TEACHERS_ID}
            </if>
        </where>
    </select>
    <!-- 根据条件（班级编号，班级名称，班级专业，辅导员）查询 -->
    <select id="findByConditionForPage" parameterType="java.util.Map" resultMap="classInfoMap">
        SELECT CI.ID,CI.NUMBER,CI.NAME,CI.MAJOR,CI.STUDENTS_NUMBER,CI.SAVE_TIME,CI.UPDATE_TIME,CI.TEACHERS_ID,
        T.ID T_ID,T.NAME T_NAME,T.SEX T_SEX,T.AGE T_AGE,T.ORIGIN T_ORIGIN,T.ENTHNIC T_ENTHNIC,T.ID_NUMBER T_ID_NUMBER,T.PHONE T_PHONE,T.SALARY T_SALARY,T.SAVE_TIME T_SAVE_TIME,T.UPDATE_TIME T_UPDATE_TIME,
        CO.ID CO_ID,CO.NAME CO_NAME,CO.STUDENTS_NUMBER CO_STUDENTS_NUMBER,CO.TEACHERS_NUMBER CO_TEACHERS_NUMBER,CO.SAVE_TIME CO_SAVE_TIME,CO.UPDATE_TIME CO_UPDATE_TIME,
        J.ID J_ID,J.JOB_NAME J_JOB_NAME
        FROM CLASS_INFO CI
        LEFT JOIN TEACHERS T ON T.ID=CI.TEACHERS_ID
        LEFT JOIN COLLEGE CO ON CO.ID=T.COLLEGE_ID
        LEFT JOIN JOB_TITLE J ON J.ID=T.JOB_TITLE_ID
        <where>
            <if test="NUMBER != null">
                CI.`NUMBER`=#{NUMBER}
            </if>
            <if test="NAME != null">
                AND CI.`NAME`=#{NAME}
            </if>
            <if test="MAJOR != null">
                AND CI.MAJOR=#{MAJOR}
            </if>
            <if test="TEACHERS_ID != null">
                AND CI.TEACHERS_ID=#{TEACHERS_ID}
            </if>
        </where>
    </select>
</mapper>