<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.ClassRelation">
    <!-- 定义结果集 -->
    <resultMap id="classRelationMap" type="com.domain.ClassRelation">
        <id property="id" column="ID"/>
        <result property="grade" column="GRADE"/>
        <association property="collegeId" column="COLLEGE_ID" javaType="com.domain.College">
            <id property="id" column="CO_ID"/>
            <result property="name" column="CO_NAME"/>
            <result property="studentsNumber" column="CO_STUDENTS_NUMBER"/>
            <result property="teachersNumber" column="CO_TEACHERS_NUMBER"/>
            <result property="saveTime" column="CO_SAVE_TIME"/>
            <result property="updateTime" column="CO_UPDATE_TIME"/>
        </association>
        <association property="classInfoId" column="CLASS_INFO_ID" javaType="com.domain.ClassInfo">
            <id property="id" column="CI_ID"/>
            <result property="number" column="CI_NUMBER"/>
            <result property="name" column="CI_NAME"/>
            <result property="major" column="CI_MAJOR"/>
            <result property="studentsNumber" column="CI_STUDENTS_NUMBER"/>
            <result property="saveTime" column="CI_SAVE_TIME"/>
            <result property="updateTime" column="CI_UPDATE_TIME"/>
            <association property="teachersId" column="CI_TEACHERS_ID" javaType="com.domain.Teachers">
                <id property="id" column="T_ID"/>
                <result property="name" column="T_NAME"/>
                <result property="sex" column="T_SEX"/>
                <result property="age" column="T_AGE"/>
                <result property="origin" column="T_ORIGIN"/>
                <result property="nation" column="T_NATION"/>
                <result property="idNumber" column="T_ID_NUMBER"/>
                <result property="phone" column="T_PHONE"/>
                <result property="salary" column="T_SALARY"/>
                <result property="saveTime" column="T_SAVE_TIME"/>
                <result property="updateTime" column="T_UPDATE_TIME"/>
                <association property="collegeId" column="T_COLLEGE_ID" javaType="com.domain.College">
                    <id property="id" column="CO_ID"/>
                    <result property="name" column="CO_NAME"/>
                    <result property="studentsNumber" column="CO_STUDENTS_NUMBER"/>
                    <result property="teachersNumber" column="CO_TEACHERS_NUMBER"/>
                    <result property="saveTime" column="CO_SAVE_TIME"/>
                    <result property="updateTime" column="CO_UPDATE_TIME"/>
                </association>
                <association property="jobTitleId" column="T_JOB_TITLE_ID" javaType="com.domain.JobTitle">
                    <id property="id" column="J_ID"/>
                    <result property="jobName" column="J_JOB_NAME"/>
                </association>
            </association>
        </association>
        <association property="studentsId" column="STUDENTS_ID" javaType="com.domain.Students">
            <id property="id" column="S_ID"/>
            <result property="name" column="S_NAME"/>
            <result property="sex" column="S_SEX"/>
            <result property="birthday" column="S_BIRTHDAY"/>
            <result property="origin" column="S_ORIGIN"/>
            <result property="enthnic" column="S_ENTHNIC"/>
            <result property="idNumber" column="S_ID_NUMBER"/>
            <result property="university" column="S_UNIVERSITY"/>
            <result property="achievement" column="S_ACHIEVEMENT"/>
            <result property="phone" column="S_PHONE"/>
            <result property="fatherName" column="S_FATHER_NAME"/>
            <result property="fatherPhone" column="S_FATHER_PHONE"/>
            <result property="fatherAddress" column="S_FATHER_ADDRESS"/>
            <result property="motherName" column="S_MOTHER_NAME"/>
            <result property="motherPhone" column="S_MOTHER_PHONE"/>
            <result property="motherAddress" column="S_MOTHER_ADDRESS"/>
            <result property="familyPopulation" column="S_FAMILY_POPULATION"/>
            <result property="saveTime" column="S_SAVE_TIME"/>
            <result property="updateTime" column="S_UPDATE_TIME"/>
            <association property="roomId" column="S_ROOM_ID" javaType="com.domain.Room">
                <id property="id" column="R_ID"/>
                <result property="area" column="R_AREA"/>
                <result property="loudong" column="R_LOUDONG"/>
                <result property="floorNumber" column="R_FLOOR_NUMBER"/>
                <result property="roomNumber" column="R_ROOM_NUMBER"/>
                <result property="auntieName" column="R_AUNTIE_NAME"/>
                <result property="studentsNumber" column="R_STUDENTS_NUMBER"/>
                <result property="emptyRoom" column="R_EMPTY_ROOM"/>
                <result property="isFull" column="R_IS_FULL"/>
            </association>
            <association property="accountId" column="S_ACCOUNT_ID" javaType="com.domain.Account">
                <id property="id" column="A_ID"/>
                <result property="accountNumber" column="A_ACCOUNT_NUMBER"/>
                <result property="password" column="A_PASSWORD"/>
                <result property="saveTime" column="A_SAVE_TIME"/>
                <result property="updateTime" column="A_UPDATE_TIME"/>
            </association>
        </association>
    </resultMap>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM class_relation WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM class_relation WHERE ID IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="com.domain.ClassRelation">
        INSERT INTO class_relation(ID,GRADE,COLLEGE_ID,CLASS_INFO_ID,STUDENTS_ID)
        VALUES (DEFAULT ,#{grade},#{collegeId.id},#{classInfoId.id},#{studentsId.id})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.domain.ClassRelation">
        UPDATE class_relation
        SET GRADE=#{grade},COLLEGE_ID=#{collegeId.id},CLASS_INFO_ID=#{classInfoId.id},STUDENTS_ID=#{studentsId.id}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultType="com.domain.ClassRelation">
        SELECT ID,GRADE,COLLEGE_ID,CLASS_INFO_ID,STUDENTS_ID
        FROM class_relation
        WHERE ID=#{id}
    </select>
    <!-- 根据条件(学院名称，班级名称，学生姓名，学号)查询 -->
    <select id="findByCondition" parameterType="java.util.Map" resultMap="classRelationMap">
        SELECT CR.ID,CR.GRADE,CR.COLLEGE_ID,CR.CLASS_INFO_ID,CR.STUDENTS_ID,
        CO.ID CO_ID,CO.NAME CO_NAME,CO.STUDENTS_NUMBER CO_STUDENTS_NUMBER,CO.TEACHERS_NUMBER CO_TEACHERS_NUMBER,CO.SAVE_TIME CO_SAVE_TIME,CO.UPDATE_TIME CO_UPDATE_TIME,
        CI.ID CI_ID,CI.NUMBER CI_NUMBER,CI.NAME CI_NAME,CI.MAJOR CI_MAJOR,CI.STUDENTS_NUMBER CI_STUDENTS_NUMBER,CI.SAVE_TIME CI_SAVE_TIME,CI.UPDATE_TIME CI_UPDATE_TIME,CI.TEACHERS_ID CI_TEACHERS_ID,
        T.ID T_ID,T.NAME T_NAME,T.SEX T_SEX,T.AGE T_AGE,T.ORIGIN T_ORIGIN,T.NATION T_NATION,T.ID_NUMBER T_ID_NUMBER,T.PHONE T_PHONE,T.SALARY T_SALARY,T.SAVE_TIME T_SAVE_TIME,T.UPDATE_TIME T_UPDATE_TIME,T.COLLEGE_ID T_COLLEGE_ID,T.JOB_TITLE_ID T_JOB_TITLE_ID,
        J.ID J_ID,J.JOB_NAME J_JOB_NAME,
        S.ID S_ID,S.NAME S_NAME,S.SEX S_SEX,S.BIRTHDAY S_BIRTHDAY,S.ORIGIN S_ORIGIN,S.ENTHNIC S_ENTHNIC,S.ID_NUMBER S_ID_NUMBER,S.UNIVERSITY S_UNIVERSITY,S.ACHIEVEMENT S_ACHIEVEMENT,S.PHONE S_PHONE,S.FATHER_NAME S_FATHER_NAME,S.FATHER_PHONE S_FATHER_PHONE,S.FATHER_ADDRESS S_FATHER_ADDRESS,S.MOTHER_NAME S_MOTHER_NAME,S.MOTHER_PHONE S_MOTHER_PHONE,S.MOTHER_ADDRESS S_MOTHER_ADDRESS,S.FAMILY_POPULATION S_FAMILY_POPULATION,S.SAVE_TIME S_SAVE_TIME,S.UPDATE_TIME S_UPDATE_TIME,S.ROOM_ID S_ROOM_ID,S.ACCOUNT_ID S_ACCOUNT_ID,
        R.ID R_ID,R.AREA R_AREA,R.LOUDONG R_LOUDONG,R.FLOOR_NUMBER R_FLOOR_NUMBER,R.ROOM_NUMBER R_ROOM_NUMBER,R.AUNTIE_NAME R_AUNTIE_NAME,R.STUDENTS_NUMBER R_STUDENTS_NUMBER,R.EMPTY_ROOM R_EMPTY_ROOM,R.IS_FULL R_IS_FULL,
        A.ID A_ID,A.ACCOUNT_NUMBER A_ACCOUNT_NUMBER,A.PASSWORD A_PASSWORD,A.SAVE_TIME A_SAVE_TIME,A.UPDATE_TIME A_UPDATE_TIME
        FROM class_relation CR
         INNER JOIN college CO ON CO.ID=CR.COLLEGE_ID
         LEFT JOIN class_info CI ON CI.ID=CR.CLASS_INFO_ID
          LEFT JOIN TEACHERS T ON T.ID=CI.TEACHERS_ID
          LEFT JOIN JOB_TITLE J ON J.ID=T.JOB_TITLE_ID
         LEFT JOIN students S ON S.ID=CR.STUDENTS_ID
          LEFT JOIN room R ON R.ID=S.ROOM_ID
          LEFT JOIN account A ON A.ID=S.ACCOUNT_ID
        <where>
            <if test="COLLEGE_NAME != null">
                CO.NAME LIKE #{COLLEGE_NAME}
            </if>
            <if test="CLASS_NAME != null">
                AND CI.NAME LIKE #{CLASS_NAME}
            </if>
            <if test="STU_NAME != null">
                AND S.NAME LIKE #{STU_NAME}
            </if>
            <if test="STU_ACCOUNT != null">
                AND A.ACCOUNT_NUMBER=#{STU_ACCOUNT}
            </if>
        </where>
    </select>
    <!--&lt;!&ndash; 根据条件(学院，班级，学生)分页查询 &ndash;&gt;-->
    <!--<select id="findByConditionForPage" parameterType="java.util.Map" resultMap="classRelationMap">-->
        <!--SELECT CR.ID,CR.GRADE,CR.COLLEGE_ID,CR.CLASS_INFO_ID,CR.STUDENTS_ID,-->
        <!--CO.ID CO_ID,CO.NAME CO_NAME,CO.STUDENTS_NUMBER CO_STUDENTS_NUMBER,CO.TEACHERS_NUMBER CO_TEACHERS_NUMBER,CO.SAVE_TIME CO_SAVE_TIME,CO.UPDATE_TIME CO_UPDATE_TIME,-->
        <!--CI.ID CI_ID,CI.NUMBER CI_NUMBER,CI.NAME CI_NAME,CI.STUDENTS_NUMBER CI_STUDENTS_NUMBER,CI.SAVE_TIME CI_SAVE_TIME,CI.UPDATE_TIME CI_UPDATE_TIME,CI.TEACHERS_ID CI_TEACHERS_ID,-->
        <!--T.ID T_ID,T.NAME T_NAME,T.SEX T_SEX,T.AGE T_AGE,T.ORIFIN T_ORIFIN,T.ENTHNIC T_ENTHNIC,T.ID_NUMBER T_ID_NUMBER,T.PHONE T_PHONE,T.SALARY T_SALARY,T.SAVE_TIME T_SAVE_TIME,T.UPDATE_TIME T_UPDATE_TIME,T.COLLEGE_ID T_COLLEGE_ID,T.JOB_TITLE_ID T_JOB_TITLE_ID,-->
        <!--J.ID J_ID,J.JOB_NAME J_JOB_NAME,-->
        <!--S.ID S_ID,S.NAME S_NAME,S.SEX S_SEX,S.BIRTHDAY S_BIRTHDAY,S.ORIGIN S_ORIGIN,S.ENTHNIC S_ENTHNIC,S.ID_NUMBER S_ID_NUMBER,S.UNIVERSITY S_UNIVERSITY,S.ACHIEVEMENT S_ACHIEVEMENT,S.PHONE S_PHONE,S.FATHER_NAME S_FATHER_NAME,S.FATHER_PHONE S_FATHER_PHONE,S.FATHER_ADDRESS S_FATHER_ADDRESS,S.MOTHER_NAME S_MOTHER_NAME,S.MOTHER_PHONE S_MOTHER_PHONE,S.MOTHER_ADDRESS S_MOTHER_ADDRESS,S.FAMILY_POPULATION S_FAMILY_POPULATION,S.SAVE_TIME S_SAVE_TIME,S.UPDATE_TIME S_UPDATE_TIME,S.ROOM_ID S_ROOM_ID,S.ACCOUNT_ID S_ACCOUNT_ID,-->
        <!--R.ID R_ID,R.ADDRESS R_ADDRESS,R.AUNTIE_NAME R_AUNTIE_NAME,R.STUDENTS_NUMBER R_STUDENTS_NUMBER,R.EMPTY_ROOM R_EMPTY_ROOM,R.IS_FULL R_IS_FULL,-->
        <!--A.ID A_ID,A.ACCOUNT_NUMBER A_ACCOUNT_NUMBER,A.PASSWORD A_PASSWORD,A.SAVE_TIME A_SAVE_TIME,A.UPDATE_TIME A_UPDATE_TIME-->
        <!--FROM class_relation CR-->
        <!--INNER JOIN college CO ON CO.ID=CR.COLLEGE_ID-->
        <!--LEFT JOIN class_info CI ON CI.ID=CR.CLASS_INFO_ID-->
        <!--LEFT JOIN TEACHERS T ON T.ID=CI.TEACHERS_ID-->
        <!--LEFT JOIN JOB_TITLE J ON J.ID=T.JOB_TITLE_ID-->
        <!--LEFT JOIN students S ON S.ID=CR.STUDENTS_ID-->
        <!--LEFT JOIN room R ON R.ID=S.ROOM_ID-->
        <!--LEFT JOIN accouunt A ON A.ID=S.ACCOUNT_ID-->
        <!--<where>-->
            <!--<if test="COLLEGE_ID != null">-->
                <!--COLLEGE_ID=#{COLLEGE_ID}-->
            <!--</if>-->
            <!--<if test="CLASS_INFO_ID != null">-->
                <!--AND CLASS_INFO_ID=#{CLASS_INFO_ID}-->
            <!--</if>-->
            <!--<if test="STUDENTS_ID != null">-->
                <!--AND STUDENTS_ID=#{STUDENTS_ID}-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->
</mapper>