<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.JobTitle">
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM job_title WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM job_title WHERE ID IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="com.domain.JobTitle">
        INSERT INTO job_title(ID,JOB_NAME)
        VALUES (DEFAULT ,#{jobName})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.domain.JobTitle">
        UPDATE job_title
        SET JOB_NAME=#{jobName}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long">
        SELECT ID,JOB_NAME
        FROM jo_title
        WHERE ID=#{id}
    </select>
    <!-- 根据条件（职称）查询 -->
    <select id="findByCondition" parameterType="java.util.Map" resultType="com.domain.JobTitle">
        SELECT ID,JOB_NAME
        FROM job_title
        <where>
            <if test="JOB_NAME != null">
                JOB_NAME=#{JOB_NAME}
            </if>
        </where>
    </select>
    <!-- 根据条件（职称）分页查询 -->
    <select id="findByConditionForPage" parameterType="java.util.Map" resultType="com.domain.JobTitle">
        SELECT ID,JOB_NAME
        FROM job_title
        <where>
            <if test="JOB_NAME != null">
                JOB_NAME=#{JOB_NAME}
            </if>
        </where>
    </select>
</mapper>