<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.Students">
    <!-- 定义结果集 -->
    <resultMap id="studentsMap" type="com.domain.Students">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="sex" column="SEX"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="origin" column="ORIGIN"/>
        <result property="enthnic" column="ENTHNIC"/>
        <result property="idNumber" column="ID_NUMBER"/>
        <result property="university" column="UNIVERSITY"/>
        <result property="achievement" column="ACHIEVEMENT"/>
        <result property="phone" column="PHONE"/>
        <result property="fatherName" column="FATHER_NAME"/>
        <result property="fatherPhone" column="FATHER_PHONE"/>
        <result property="fatherAddress" column="FATHER_ADDRESS"/>
        <result property="motherName" column="MOTHER_NAME"/>
        <result property="motherPhone" column="MOTHER_PHONE"/>
        <result property="motherAddress" column="MOTHER_ADDRESS"/>
        <result property="familyPopulation" column="FAMILY_POPULATION"/>
        <result property="saveTime" column="SAVE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <association property="roomId" column="ROOM_ID" javaType="com.domain.Room">
            <id property="id" column="R_ID"/>
            <result property="area" column="R_AREA"/>
            <result property="loudong" column="R_LOUDONG"/>
            <result property="floorNumber" column="R_FLOOR_NUMBER"/>
            <result property="roomNumber" column="R_ROOM_NUMBER"/>
            <result property="auntieName" column="R_AUNTIE_NAME"/>
            <result property="studentsNumber" column="R_STUDENTS_NUMBER"/>
            <result property="emptyRoom" column="R_EMPTY_ROOM"/>
            <result property="isFull" column="R_IS_FULL"/>
        </association>
        <association property="accountId" column="ACCOUNT_ID" javaType="com.domain.Account">
            <id property="id" column="A_ID"/>
            <result property="accountNumber" column="A_ACCOUNT_NUMBER"/>
            <result property="password" column="A_PASSWORD"/>
            <result property="saveTime" column="A_SAVE_TIME"/>
            <result property="updateTime" column="A_UPDATE_TIME"/>
        </association>
    </resultMap>
    <!-- 定义sql查询列 -->
    <sql id="columns">
        ID,`NAME`,SEX,BIRTHDAY,ORIGIN,ENTHNIC,ID_NUMBER,UNIVERSITY,ACHIEVEMENT,PHONE,FATHER_NAME,FATHER_PHONE,FATHER_ADDRESS,MOTHER_NAME,MOTHER_PHONE,MOTHER_ADDRESS,FAMILY_POPULATION,SAVE_TIME,UPDATE_TIME,ROOM_ID,ACCOUNT_ID
    </sql>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM students WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM students WHERE ID IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="com.domain.Students">
        INSERT INTO students(<include refid="columns"/> )
        VALUES (DEFAULT ,#{name},#{sex},#{birthday},#{origin},#{enthnic},#{idNumber},#{university},#{achievement},#{phone},#{fatherName},#{fatherPhone},#{fatherAddress},#{motherName},#{motherPhone},#{motherAddress},#{familyPopulation},#{saveTime},#{updateTime},#{roomId.id},#{accountId.id})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.domain.Students">
        UPDATE students
        SET `NAME`=#{name},SEX=#{sex},BIRTHDAY=#{birthday},ORIGIN=#{origin},ENTHNIC=#{enthnic},ID_NUMBER=#{idNumber},UNIVERSITY=#{university},ACHIEVEMENT=#{achievement},PHONE=#{phone},FATHER_NAME=#{fatherName},FATHER_PHONE=#{fatherPhone},FATHER_ADDRESS=#{fatherAddress},MOTHER_NAME=#{motherName},MOTHER_PHONE=#{motherPhone},MOTHER_ADDRESS=#{motherAddress},FAMILY_POPULATION=#{familyPopulation},SAVE_TIME=#{saveTime},UPDATE_TIME=#{updateTime},ROOM_ID=#{roomId.id},ACCOUNT_ID=#{accountId.id}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultType="com.domain.Students">
        SELECT <include refid="columns"/>
        FROM students
        WHERE ID=#{id}
    </select>
    <!-- 根据条件（学生姓名，性别，籍贯，民族，身份证号，学校名字，手机号，宿舍（外键），学号（外键））查询-->
    <select id="findByCondition" parameterType="java.util.Map" resultMap="studentsMap">
        SELECT S.ID,S.NAME,S.SEX,S.BIRTHDAY,S.ORIGIN,S.ENTHNIC,S.ID_NUMBER,S.UNIVERSITY,S.ACHIEVEMENT,S.PHONE,S.FATHER_NAME,S.FATHER_PHONE,S.FATHER_ADDRESS,
        S.MOTHER_NAME,S.MOTHER_PHONE,S.MOTHER_ADDRESS,S.FAMILY_POPULATION,S.SAVE_TIME,S.UPDATE_TIME,S.ROOM_ID,S.ACCOUNT_ID,
        R.ID R_ID,R.AREA R_AREA,R.LOUDONG R_LOUDONG,R.FLOOR_NUMBER R_FLOOR_NUMBER,R.ROOM_NUMBER R_ROOM_NUMBER,R.AUNTIE_NAME R_AUNTIE_NAME,R.STUDENTS_NUMBER R_STUDENTS_NUMBER,R.EMPTY_ROOM R_EMPTY_ROOM,R.IS_FULL R_IS_FULL,
        A.ID A_ID,A.ACCOUNT_NUMBER A_ACCOUNT_NUMBER,A.PASSWORD A_PASSWORD,A.SAVE_TIME A_SAVE_TIME,A.UPDATE_TIME A_UPDATE_TIME
        FROM students S
        LEFT JOIN room R ON R.ID=S.ROOM_ID
        LEFT JOIN account A ON A.ID=S.ACCOUNT_ID
        <where>
            <if test="NAME != null">
                S.`NAME` LIKE #{NAME}
            </if>
            <if test="SEX != null">
                AND S.SEX=#{SEX}
            </if>
            <if test="ORIGIN != null">
                AND S.ORIGIN=#{ORIGIN}
            </if>
            <if test="ENTHNIC != null">
                AND S.ENTHNIC=#{ENTHNIC}
            </if>
            <if test="ID_NUMBER != null">
                AND S.ID_NUMBER=#{ID_NUMBER}
            </if>
            <if test="UNIVERSITY != null">
                AND S.UNIVERSITY LIKE #{UNIVERSITY}
            </if>
            <if test="PHONE != null">
                AND S.PHONE=#{PHONE}
            </if>
            <if test="ROOM_ID != null">
                AND S.ROOM_ID=#{ROOM_ID}
            </if>
            <if test="ACCOUNT_ID != null">
                AND S.ACCOUNT_ID=#{ACCOUNT_ID}
            </if>
        </where>
    </select>
    <!-- 根据条件（学生姓名，性别，籍贯，民族，身份证号，学校名字，手机号，宿舍（外键），学号（外键））分页查询-->
    <select id="findByConditionForPage" parameterType="java.util.Map" resultMap="studentsMap">
        SELECT S.ID,S.NAME,S.SEX,S.BIRTHDAY,S.ORIGIN,S.ENTHNIC,S.ID_NUMBER,S.UNIVERSITY,S.ACHIEVEMENT,S.PHONE,S.FATHER_NAME,S.FATHER_PHONE,S.FATHER_ADDRESS,
        S.MOTHER_NAME,S.MOTHER_PHONE,S.MOTHER_ADDRESS,S.FAMILY_POPULATION,S.SAVE_TIME,S.UPDATE_TIME,S.ROOM_ID,S.ACCOUNT_ID,
        R.ID R_ID,R.AREA R_AREA,R.LOUDONG R_LOUDONG,R.FLOOR_NUMBER R_FLOOR_NUMBER,R.ROOM_NUMBER R_ROOM_NUMBER,R.AUNTIE_NAME R_AUNTIE_NAME,R.STUDENTS_NUMBER R_STUDENTS_NUMBER,R.EMPTY_ROOM R_EMPTY_ROOM,R.IS_FULL R_IS_FULL,
        A.ID A_ID,A.ACCOUNT_NUMBER A_ACCOUNT_NUMBER,A.PASSWORD A_PASSWORD,A.SAVE_TIME A_SAVE_TIME,A.UPDATE_TIME A_UPDATE_TIME
        FROM students S
        LEFT JOIN room R ON R.ID=S.ROOM_ID
        LEFT JOIN account A ON A.ID=S.ACCOUNT_ID
        <where>
            <if test="NAME != null">
                S.`NAME` LIKE #{NAME}
            </if>
            <if test="SEX != null">
                AND S.SEX=#{SEX}
            </if>
            <if test="ORIGIN != null">
                AND S.ORIGIN=#{ORIGIN}
            </if>
            <if test="ENTHNIC != null">
                AND S.ENTHNIC=#{ENTHNIC}
            </if>
            <if test="ID_NUMBER != null">
                AND S.ID_NUMBER=#{ID_NUMBER}
            </if>
            <if test="UNIVERSITY != null">
                AND S.UNIVERSITY LIKE #{UNIVERSITY}
            </if>
            <if test="PHONE != null">
                AND S.PHONE=#{PHONE}
            </if>
            <if test="ROOM_ID != null">
                AND S.ROOM_ID=#{ROOM_ID}
            </if>
            <if test="ACCOUNT_ID != null">
                AND S.ACCOUNT_ID=#{ACCOUNT_ID}
            </if>
        </where>
    </select>
</mapper>