<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domain.Teachers">
    <!-- 定义结果集 -->
    <resultMap id="teachersMap" type="com.domain.Teachers">
        <id property="id" column="ID"></id>
        <result property="name" column="NAME"></result>
        <result property="gender" column="GENDER"></result>
        <result property="authority" column="AUTHORITY"></result>
        <result property="age" column="AGE"></result>
        <result property="origin" column="ORIGIN"></result>
        <result property="nation" column="NATION"></result>
        <result property="idNumber" column="ID_NUMBER"></result>
        <result property="phone" column="PHONE"></result>
        <result property="salary" column="SALARY"></result>
        <result property="saveTime" column="SAVE_TIME"></result>
        <result property="updateTime" column="UPDATE_TIME"></result>
        <association property="collegeId" column="COLLEGE_ID" javaType="com.domain.College">
            <id property="id" column="CO_ID"></id>
            <result property="name" column="CO_NAME"></result>
            <result property="studentsNumber" column="CO_STUDENTS_NUMBER"></result>
            <result property="teachersNumber" column="CO_TEACHERS_NUMBER"></result>
            <result property="saveTime" column="CO_SAVE_TIME"></result>
            <result property="updateTime" column="CO_UPDATE_TIME"></result>
        </association>
        <association property="jobTitleId" column="JOB_TITLE_ID" javaType="com.domain.JobTitle">
            <id property="id" column="J_ID"></id>
            <result property="jobName" column="J_JOB_NAME"></result>
        </association>
    </resultMap>
    <!-- 定义sql查询列 -->
    <sql id="columns">
        ID,`NAME`,GENDER,AUTHORITY,AGE,ORIGIN,NATION,ID_NUMBER,PHONE,SALARY,SAVE_TIME,UPDATE_TIME,COLLEGE_ID,JOB_TITLE_ID
    </sql>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM teachers WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM teachers WHERE ID IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="com.domain.Teachers" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO teachers(<include refid="columns"/> )
        VALUES (DEFAULT ,#{name},#{gender},#{authority},#{age},#{origin},#{nation},#{idNumber},#{phone},#{salary},#{saveTime},#{updateTime},#{collegeId.id},#{jobTitleId.id})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.domain.Teachers">
        UPDATE teachers
        SET `NAME`=#{name},GENDER=#{gender},AUTHORITY=#{authority},AGE=#{age},ORIGIN=#{origin},NATION=#{nation},ID_NUMBER=#{idNumber},SALARY=#{salary},SAVE_TIME=#{saveTime},UPDATE_TIME=#{updateTime},COLLEGE_ID=#{collegeId.id},JOB_TITLE_ID=#{jobTitleId.id}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultType="com.domain.Teachers">
        SELECT <include refid="columns"/>
        FROM teachers
        WHERE ID=#{id}
    </select>
    <!-- 根据条件（姓名，性别，身份证号，添加时间）查询 -->
    <select id="findByCondition" parameterType="java.util.Map" resultMap="teachersMap">
        SELECT T.ID,T.NAME,T.GENDER,T.AUTHORITY,T.AGE,T.ORIGIN,T.NATION,T.ID_NUMBER,T.PHONE,T.SALARY,T.SAVE_TIME,T.UPDATE_TIME,T.COLLEGE_ID,T.JOB_TITLE_ID,
        CO.ID CO_ID,CO.NAME CO_NAME,CO.STUDENTS_NUMBER CO_STUDENTS_NUMBER,CO.TEACHERS_NUMBER CO_TEACHERS_NUMBER,CO.SAVE_TIME CO_SAVE_TIME,CO.UPDATE_TIME CO_UPDATE_TIME,
        J.ID J_ID,J.JOB_NAME J_JOB_NAME
        FROM teachers T
        LEFT JOIN COLLEGE CO ON CO.ID=T.COLLEGE_ID
        LEFT JOIN JOB_TITLE J ON J.ID=T.JOB_TITLE_ID
        <where>
            <if test="teacherName != null">
                AND T.`NAME` LIKE #{teacherName}
            </if>
            <if test="teacherSex != null">
                AND T.GENDER=#{teacherSex}
            </if>
            <if test="teacherIdNumber != null">
                AND T.ID_NUMBER=#{teacherIdNumber}
            </if>
            <if test="teacherSaveTime != null">
                AND T.SAVE_TIME LIKE #{teacherSaveTime}
            </if>
        </where>
    </select>
    <!-- 根据条件（姓名，性别，身份证号，添加时间）分页查询 -->
    <select id="findByConditionForPage" parameterType="java.util.Map" resultMap="teachersMap">
        SELECT T.ID,T.NAME,T.GENDER,T.AUTHORITY,T.AGE,T.ORIGIN,T.NATION,T.ID_NUMBER,T.PHONE,T.SALARY,T.SAVE_TIME,T.UPDATE_TIME,T.COLLEGE_ID,T.JOB_TITLE_ID,
        CO.ID CO_ID,CO.NAME CO_NAME,CO.STUDENTS_NUMBER CO_STUDENTS_NUMBER,CO.TEACHERS_NUMBER CO_TEACHERS_NUMBER,CO.SAVE_TIME CO_SAVE_TIME,CO.UPDATE_TIME CO_UPDATE_TIME,
        J.ID J_ID,J.JOB_NAME J_JOB_NAME
        FROM teachers T
        LEFT JOIN COLLEGE CO ON CO.ID=T.COLLEGE_ID
        LEFT JOIN JOB_TITLE J ON J.ID=T.JOB_TITLE_ID
        <where>
            <if test="teacherName != null">
                AND T.`NAME` LIKE #{teacherName}
            </if>
            <if test="teacherSex != null">
                AND T.GENDER=#{teacherSex}
            </if>
            <if test="teacherIdNumber != null">
                AND T.ID_NUMBER=#{teacherIdNumber}
            </if>
            <if test="teacherSaveTime != null">
                AND T.SAVE_TIME LIKE #{teacherSaveTime}
            </if>
        </where>
    </select>
</mapper>