body{
    padding: 0;
    margin:0;
}
a{text-decoration: none}
ul,li{
    font-size: 14px;
    list-style: none;
}
.head_div{
    width: 1350px;margin:0 auto;
}
.logistics_info{
    background-color: antiquewhite;
}
.logistics_info div{
    width: 400px;margin-left: 100px;text-align: center
}
.logistics_info tr td:first-child{
    text-align: right;
}

#logostics_details{
    background-color: #ffed83;
    text-align: center;
    width: 605px;
    margin: 0 auto;
}
#logostics_details div{
    height:30px;
    border: 1px solid darkorange;
    background-color: #ffe0c6;
}
/*#logostics_details td{*/
/*border-bottom: 1px solid darkorange;*/
/*}*/